body {
  margin-top: 50px;
}
.weather-emojies {
  display: block;
  font-size: 5em;
}
.temperature {
  font-size: 3em;
}
hr {
  color: blueviolet;
  border: 1px solid;
}
.wind-temp {
  margin-top: 40px;
  font-size: larger;
  font-family: "Sniglet", cursive;
}
